@font-face {
    font-family: gilroy;
    src: url(../Assets/Gilroy-Regular.ttf)format("truetype");
}

@font-face {
    font-family: p;
    src: url(../Assets/Pleasure.woff2)format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: p;
}

html,
body {
    min-height: 100vh;
    width: 100%;
    background-color: #161617;
    color: #ebe9e9;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* temporary overflows */
}

#canvaparent {
    height: 100vh;
    width: 100%;

}

::-webkit-scrollbar {
    width: 10px;
    /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
    background: #303030;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1a1a1a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
}

/* delete krna hai ye canva ka tarika  */
canvas {
    overflow: hidden;
}

button {
    cursor: pointer;
}

#main {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

#mainelements {
    /* min-height: 100vh; */
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    pointer-events: none;
}

.slide {
    height: 100vh;
    width: 100%;
}

#slide1 {
    position: relative;
    padding-top: 90px;
}

nav {
    height: 90px;
    width: 100%;
    /* background-color: #0c0c0c15; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0%;
    pointer-events: all;
}

#fontgil {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FFD600;
    font-weight: 800;
    line-height: 30px;
    padding: 0 5px;
    border-right: 3px solid #FFD600;
    border-left: 3px solid #FFD600;
    border-bottom: 2px solid #FFD600;
    border-radius: 5px;
}

#navright ul {
    display: flex;
    align-items: center;
}


nav li {
    list-style: none;
    font-weight: 500;
    margin: 0 25px 0 0;
}

a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.center a:visited {
    color: #e0e0e0;
    text-decoration: none;
}

.center a:hover {
    /* color: rgb(254, 208, 123); */
    transform: scale(1.1);
}

.liend {
    margin-right: 30px;
}

li button {
    font-size: 20px;
    font-weight: 700;
    padding: 4px 12px;
    border-radius: 5px 15px 5px 5px;
    font-family: gilroy;
    background-color: #FFD600;
    display: flex;
    align-items: center;
}

li button i {
    margin-left: 5px;
}


.libtn {
    margin-right: 0 !important;

}

#punch {
    width: 100%;
    min-height: 50%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 5vh 3vw 6vh 3vw;
}

#punchline {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

#punchline h1 {
    font-size: 6.5vmax;
    line-height: 7vmax;
    font-weight: 600;
    letter-spacing: 5px;
    font-variation-settings: "TRAP" 90;
}

#punchline em {
    font-style: normal;
}

#hirebtn {
    font-size: 15px;
    font-weight: 550;
    padding: 20px 25px;
    margin-left: -3px;
    border-radius: 40px;
    background-color: #FFD600;
    display: flex;
    pointer-events: all;
}

.hirearrow {
    margin-left: 10px;
    font-weight: 600;
}

.semisvg {
    width: 2vmax;
    margin-left: -20px;
    margin-bottom: -5px;
}

#slide1 h6 {
    margin-left: 3vw;
    font-size: 18px;
    position: absolute;
    bottom: 35px;
}

.yellowarrow {
    color: #FFD600;
    margin-right: 3px;
}

button {
    color: black;
    border: 1px solid black;
}

button:hover,
button:active {
    color: rgb(0, 0, 0);
}


/* ___________________________day two______________________________ */

.showsec {
    background-color: #e817171e;
}

.yellow span{
   color: #e3be03;
}

.chooseus {
    padding: 3vmax;
    padding-top: 15vmax;
}

.chooseus h1 {
    font-size: 5vmax;
    margin-bottom: 3.5vmin;
}

.chooseus li {
    font-size: 2.5vmax;
    font-weight: 700;
    color: #e9ebebc6;
    font-family: gilroy;
    margin-bottom: 3.5vmin;
}

.whyul {
    margin-left: 1.7vmax;
}


/* _____________________________last section______________________________ */

#contactslide {
    position: relative;
}

#contact {
    position: absolute;
    bottom: 0%;
    height: 74.5vh;
    border-radius: 140px 140px 0 0;
    width: 100%;
    padding: 60px 60px 60px 60px;
    background-color: #ffffff39;
    pointer-events: all;
    border: 30px #222222 solid;
    display: flex;
    justify-content: space-between;
}

#contact-left {
    /* width: 57%; */
    background-color: #ffffff15;
    padding: 15px;
    border-radius: 35px;
    border: 15px #1b1b1b19 solid;
    height: 53vh;
}

#contact-right {
    min-width: 40%;
    background-color: #ffffff15;
    padding: 25px;
    border-radius: 35px;
    border: 10px #1b1b1b19 solid;
}

#contact-right h3 {
    padding-bottom: 5%;
}

#teampng {
    width: 100%;
    height: 80%;
    filter: grayscale(60%) brightness(50%);
    border-radius: 17px;
    border: 7px solid #1b1b1b19;
    object-position: top;
    object-fit: cover;
    opacity: 0.87;
}

#contact h1 {
    font-size: 4.5vmax;
}

#hippobtn {
    width: 242px;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    pointer-events: all;
    margin-top: 40px;
}

.ear-left-outer,
.ear-right-outer {
    fill: #919191;
}

.ear-left-inner,
.ear-right-inner {
    fill: #6D6D6D;
}

.eye-right-outer,
.eye-left-outer,
.nostril-right-outer,
.nostril-left-outer,
.body {
    fill: #AAAAAA;
}

.eye-right-inner,
.eye-left-inner {
    fill: #FFFFFF;
}

.nostril-right-inner,
.nostril-left-inner {
    fill: #8C8C8C;
}

.freckle {
    fill: #7C7C7C;
}

.tongue {
    fill: #FF4848;
}

.tooth-left,
.tooth-right {
    fill: #FFFFE1;
}

.link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #ffffe3;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 2px solid #335067;
    padding: 10px 14px;
    border-radius: 4px;
    /* transition: background 0.2s; */
}

.link:hover {
    background: #243a4a;
}


@media screen and (max-width:500px) {
    #slide1 h6 {
        margin-left: 3vw;
        font-size: 15px;
        position: absolute;
        bottom: 20%;
    }

    .dnone {
        display: none;
        white-space: nowrap;

    }

    .libtn {
        white-space: nowrap;
    }

    #navright ul {
        margin-left: 0px;
        margin-block-end: 0px;
    }

    #contact {
        padding: 0px;
        border-radius: 60px 60px 0 0;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #contact-left {
        /* width: 57%; */
        background-color: #ffffff15;
        padding: 15px;
        border-radius: 35px;
        border: 15px #1b1b1b19 solid;
        height: 41vh;
    }

    #hippobtn {
        margin-top: 20px;
    }

    #teampng {
        height: 60%;
    }

    #contact-right {
        padding: 5px 25px 0px 25px;
        height: 35%;
    }



    /* _____________chose________________ */
    .chooseus{
        padding-top: 15vh;
        height: 45vh;
    }

}