@font-face {
    font-family: gilroy;
    src: url(../Assets/Gilroy-Regular.ttf)format("truetype");
}

@font-face {
    font-family: p;
    src: url(../Assets/Pleasure.woff2)format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: p;
}

html,
body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(15, 18, 21);
    color: #ebe9e9;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

#main {
    min-height: 100%;
    width: 100%;
}

.slide {
    height: 100vh;
    width: 100%;
    background-color: #161617;
}

nav {
    height: 70px;
    width: 100%;
    background-color: #0c0c0c15;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px 20px 30px;
    backdrop-filter: blur(10px);
}

#navright ul {
    display: flex;
    align-items: center;
}


li {
    list-style: none;
    font-weight: 500;
    margin: 0 25px 0 0;
}

a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.center a:visited {
    color: #e0e0e0;
    text-decoration: none;
}

.center a:hover {
    /* color: rgb(254, 208, 123); */
    transform: scale(1.1);
}

.liend {
    margin-right: 30px;
}

li button {
    font-size: 20px;
    font-weight: 700;
    padding: 4px 10px;
    border-radius: 5px;
    font-family: gilroy;
}

.libtn {
    margin-right: 0 !important;
}

#punch {
    width: 100%;
    min-height: 50%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 6vh 3vw;
}

#punchline {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

#punchline h1 {
    font-size: 6.5vmax;
    line-height: 7vmax;
    font-weight: 600;
    letter-spacing: 5px;
    font-variation-settings: "TRAP" 90;
}

#hirebtn {
    font-size: 15px;
    font-weight: 550;
    padding: 20px 25px;
    border-radius: 40px;
    background-color: #FFD600;
    display: flex;
}

.hirearrow{
    margin-left: 10px;
    font-weight: 600;
}

.semisvg{
    width: 2vmax;
    margin-left: -20px;
    margin-bottom: -5px;
}